/*폰트s*/
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');


.drag-file .preview {
    display: none;
}

.file {
    display: none;
}

.userbutton button {
    height: 40px;
    background-color: #ffdede;
    color: #02343F;
    border: none;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0 0 40px 40px #ffdede inset, 0 0 0 0 #ffdede;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.userbutton button:hover {
    box-shadow: 0 0 10px 0 #ffdede inset, 0 0 10px 4px #ffdede;
}


.parent {
    display: flex;
}

.child1 {
    flex: 1;
    margin-left: 5px;
    margin-right: 5px;
}

.child2 {
    flex: 1;
    margin-left: 5px;
    margin-right: 5px;
    align-items: center;
}

.child3 {
    flex: 1;
    margin-left: 5px;
    margin-right: 5px;
}

.drag-area {
    border: 3px dashed #dbdbdb;
    height: 400px;
    width: 100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Jua', sans-serif;
    overflow: hidden;

    text-align: center;
    padding: 10px 0;
    cursor: pointer;
}

.drag-area.active {
    border: 2px solid #ffdede;
}

.drag-area .icon {
    font-size: 100px;
    color: #ffdede;
}

.drag-area header {
    font-size: 30px;
    font-weight: 500;
    color: #ffdede;
}

.drag-area span {
    font-size: 25px;
    font-weight: 500;
    color: #ffdede;
    margin: 10px 0 15px 0;
}

.drag-area label {
    padding: 15px 25px;
    font-size: 25px;
    font-weight: 500;
    border: none;
    outline: none;
    background: #ffdede;
    color: #02343F;
    border-radius: 5px;
    cursor: pointer;
}

.drag-area label:hover {
    box-shadow: 0 0 10px 0 #ffdede inset, 0 0 10px 4px #ffdede;
}

.drag-area img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}


.button {
    width: 49%;
    height: 145px;
    cursor: pointer;
    border: 2px solid rgba(111, 111, 211, 0);
    border-radius: 20px;
    outline: none;
    transition: .3s;
    margin-top: 3px;
}

.button5 {
    font-family: 'Jua', sans-serif;
    width: 100%;
    height: 50px;
    margin-top: 150px;
    background: #ffdede;
    border-radius: 10px;
    font-size: 17px;
}

.button6 {
    font-family: 'Jua', sans-serif;
    width: 25%;
    height: 50px;
    margin-top: 50px;
    background: #ffdede;
    border-radius: 10px;
    font-size: 17px;
}

.button:focus {
    border: 3px solid #ffdede;
    box-shadow: 0px 0px 0px 1px rgb(58, 58, 110);
    animation: anim-shadow .3s forwards;
}

.button:hover {
    box-shadow: 0 0 10px 0 #ffdede inset, 0 0 10px 4px #ffdede;
}

@keyframes anim-shadow {
    100% {
        box-shadow: 0px 0px 50px 20px rgba(111, 111, 211, 0);
    }
}

.child2 header {
    font-family: 'Jua', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #ffdede;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.after-image-box {
    border: 1px solid #ffdede;
    border-radius: 20px;
    height: 400px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.after-image {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.center-content {
    margin: 50px auto 0px auto;
    padding: 40px;
}