button,
.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease, box-shadow 0.2s ease, color 0.2s ease;
    -webkit-transition: background-color 0.2s ease, box-shadow 0.2s ease, color 0.2s ease;
    -ms-transition: background-color 0.2s ease, box-shadow 0.2s ease, color 0.2s ease;
    transition: background-color 0.2s ease, box-shadow 0.2s ease, color 0.2s ease;
    background-color: transparent;
    border: 0;
    box-shadow: inset 0 0 0 1px #412650c9;
}

button.disabled,
button:disabled,
.button.disabled,
.button:disabled {
    pointer-events: none;
    color: rgba(160, 160, 160, 0.3) !important;
}

.sh_container {
    /* background-color: #4a256d; */
    display: flex;
    flex-direction: row;
    padding: 130px 200px 0px 200px;
    width: fit-content;
    height: 800px;
    font-size: 20px;
}

.sh_row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sh_col {
    display: flex;
    flex-direction: column;
}

.sh_bnt {
    padding: 10px 20px;
    font-size: 15px;
}

.sh_in_profile {
    text-align: center;
    width: fit-content;
    /* transition: text-shadow 0.5s ease; */
}

/* .sh_in_profile:hover {
    color: rgb(244, 229, 254);
    text-shadow: 1px 1px #4a256d;
} */

.sh_small_img {
    width: 110px;
    height: 110px;
    object-fit: cover;
    object-position: center;
    border-radius: 100%;
    border: 1px solid #c1c1c1;
    margin-bottom: 5px;
}

.col_fl {
    margin: 10px 0px 10px 32px;
}

.fl_list {
    border: 1px solid #eeeeee;
}

.sh_row_2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.sh_profile_box {
    height: max-content;
    border: 1px solid #eeeeee;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 55px;
}

.sh_art_list {
    /* background-color: #4a256d; */
    max-width: 500px;
    min-width: 70%;
    height: max-content;
    margin-left: 70px;
}

.sh_art_img {
    width: 210px;
    height: 210px;
    object-fit: cover;
    object-position: center;
}

.col_art {
    width: fit-content;
    height: fit-content;
    margin: 10px;
}

.sh_profile-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border: 1px solid #e9e9e9;
}

.img_box {
    width: fit-content;
    box-shadow: 0 0 10px 2px inset #e2e2e2;
}

.profile_Text {
    width: 100%;
    min-width: 300px;
    height: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.box {
    margin-right: 10px;
}

.sh_title {
    font-size: 15px;
    color: rgb(138, 138, 138);
    margin-bottom: 8px;
}

.sh_content {
    margin-left: 5px;
}

.sh_in {
    margin-bottom: 10px;
}

.sh_profile_btn {
    float: right;
}

.sh_f {
    margin-left: 5px;
    color: rgb(138, 138, 138);
}

.sh_big {
    font-size: 30px;
    margin-bottom: 20px;
}

.sh_big_2 {
    font-size: 30px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 20px;
}